<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CAS.CodeProtect" version="7.0.1-Bravo" targetFramework="net461" />
  <package id="CAS.CommServer.CommonBus" version="6.21.2-Hotel" targetFramework="net472" />
  <package id="CAS.CommServer.DAServerConfiguration" version="6.21.3-India" targetFramework="net472" />
  <package id="CAS.CommServer.DataProvider.Package" version="3.100.01" targetFramework="net461" developmentDependency="true" />
  <package id="CAS.CommServer.OPCClassic.SDK.Core" version="2.01.1062" targetFramework="net461" />
  <package id="CAS.RealTime" version="5.0.6" targetFramework="net461" />
  <package id="System.Reactive" version="4.3.2" targetFramework="net461" />
  <package id="System.Reactive.Core" version="4.3.2" targetFramework="net461" />
  <package id="System.Reactive.Interfaces" version="4.3.2" targetFramework="net461" />
  <package id="System.Reactive.Linq" version="4.3.2" targetFramework="net461" />
  <package id="System.Reactive.PlatformServices" version="4.3.2" targetFramework="net461" />
  <package id="System.Reactive.Windows.Threading" version="4.3.2" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.0" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.3" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" requireReinstallation="true" />
  <package id="UAOOI.ProcessObserver.RealTime" version="6.4.0-Golf" targetFramework="net472" />
</packages>