<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CAS.CommServer.DAServerConfiguration" version="6.21.4-Juliet" targetFramework="net472" />
  <package id="CAS.CommServer.OPCClassic.SDK.Core" version="2.01.1062" targetFramework="net472" />
  <package id="MSTest.TestAdapter" version="2.1.0" targetFramework="net472" />
  <package id="MSTest.TestFramework" version="2.1.0" targetFramework="net472" />
  <package id="UAOOI.ProcessObserver.RealTime" version="6.5.0-Hotel" targetFramework="net472" />
</packages>